@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

:root{
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-grey: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secundary: hsl(252, 100%, 90%);
    --color-sucess: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 0;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.profile-photo{
    width: 2.7rem;
    height: 2.7rem; /* Adicionado para garantir a proporção */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

img{
    display: block;
    width: 100%;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--color-primary);
    color: white;
}

.text-bold{
    font-weight: 500;
}

.text-muted{
    color: var(--color-grey);
}

/* navbar */
nav{
    width: 100%;
    background: var(--color-white);
    padding: 0.3rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder{
    color: var(--color-grey); 
}

nav .create{
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .log img{
    margin: 2px 0;
    height: 70px;
    width: 190px;
}

/* main */

main{
    flex: 1;
    position: relative;
    top: 5.4rem;
}

main .container{
    display: grid;
    grid-template-columns: 21vw auto 10vw;
    column-gap: 5rem;
    position: relative;
}

/* left */
main .container .left{
    height: max-content;
    padding: 25px; 
    position: relative;
    top: var(--sticky-top-left);
    background-color: var(--color-white); 
    border-radius: var(--card-border-radius);
    display: block;
    align-items: center;
    width: 350px;
}

.handle h4{
    font-size: 25px;
}

.handle p{
    font-size: 20px;
}

/* input Pets */
.input-single{
    width: 100%;
    margin: 30px 0;
    position: relative;
}
.input-single label{
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 37px;
    color: #000;
    cursor: text;
    transition: 0.5s ease-in-out;
    /* padding: var(--card-padding);
    border-radius: var(--card-border-radius); */
}

.input-single .input{
    width: 100%;
    padding: 5px;
    color: #000;
    border: 0;
    border-bottom: 2px solid rgb(200, 200, 200);
    outline: 0;
    font-size: 16px;
}

.input-single .input:focus,
.input-single .input:valid{
    border: 2px solid var(--color-primary);
    border-radius: 10px;
}
.input-single .input:focus ~ label,
.input-single .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: var(--color-primary);
}

 /* main .container .left .profile .profile-photo .navtheme .profile-img{
    width: 7.7rem;
    height: 7.7rem; /* Adicionado para garantir a proporção 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: var(--color-primary);
} */
.profile-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; /* Garante que a imagem cubra o elemento sem distorção */
    font-size: 5rem;
}



/* .left .btn{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
} */


/* create post */
.middle .create-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);;
}

/* publicações */
.middle .feeds .feed{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .feed .head{
    display: flex;
    justify-content: space-between;
}

.middle .feed .user{
    display: flex;
    gap: 1rem;
}

.middle .feed .photo{
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.middle .feed .action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: 1.4rem;
    margin: 0.6rem;
}

.middle .liked-by{
    display: flex;
}

.middle .liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.middle .liked-by span:first-child{
    margin: 0;
}

.middle .liked-by p{
    margin-left: 0.5rem;
}

/* Perfil Nav */
.nav-theme{
    height: 1rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
    font-size: 20px;
    margin-bottom: 20px;
}

.nav-popup{
    display: none;
    position: absolute;
    top: 20px;
    width: 170px;
    right: 30%; 
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 1rem var(--color-primary);
    z-index: 8;
    font-size: 19px;
    transition: 1s;
    height: 4rem;
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
}

#nav-popup-logged .editarPerfil{
    position: relative;
    top: 8px;
}

.nav-popup span{
    color: var(--color-primary);
}

.nav-popup span:hover{
    padding: 2px 5px;
    border-radius: var(--card-border-radius);
    color: var(--color-white);
    background: var(--color-primary);
}

.nav-popup .editar,
.nav-popup .deletar{
    margin: 3px;
}

.nav-popup::before{
    content: "";
    width: 1.2rem;
    height: 0.1rem;
    display: flex;
    position: absolute;
    transform: rotate(45deg);
}

.nav-popup > div{
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: left;
}


/* 3 pontos */
.middle .feed .head .post-items{
    display: flex;
    height: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
    font-size: 16px;
    gap: 1rem;
    text-decoration: none;
    color: var(--color-danger);
    font-weight: 500;
}

.middle .feed .head .post-items .links{
    font-weight: bold;
}

.middle .feed .head .post-items .links span:hover{
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}
    
    
.pontinhos-popup{
    display: none;
    position: absolute;
    top: 30px;
    width: 190px;
    right: 30%; 
    background: var(--color-white);
    border-radius: var(--card-border-radius) 0 var(--card-border-radius) var(--card-border-radius);
    padding: var(--card-padding);
    /* box-shadow: 0 0 2rem hs1(var(--color-primary), 75%, 60%, 25%); */
    box-shadow: 0 0 1rem var(--color-primary);
    z-index: 8;
    font-size: 17px;
    color: var(--color-primary);
    transition: 1s;
}

.pontinhos-popup span:hover{
    padding: 2px 1px;
    border-radius: var(--card-border-radius);
    color: var(--color-white);
    background: var(--color-primary);
}

.pontinhos-popup .editar,
.pontinhos-popup .deletar{
    margin: 3px;
}

.pontinhos-popup::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    /* background: var(--color-white); */
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.pontinhos-popup > div{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Footer */
.footer{
    margin-top: 400px;
}